@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Striped rows for programme schedules */
    .programme-list > li:nth-child(even) {
        background-color: rgb(240 253 250); /* teal-50 */
    }

    .programme-list-amber > li:nth-child(even) {
        background-color: rgb(255 251 235); /* amber-50 */
    }

    /* Dark mode */
    .dark .programme-list > li:nth-child(even) {
        background-color: rgba(30 41 59 / 0.8); /* slate-800/80 */
    }

    .dark .programme-list-amber > li:nth-child(even) {
        background-color: rgba(30 41 59 / 0.8); /* slate-800/80 */
    }

    /* Thin horizontal separators for programme items */
    .programme-list > li,
    .programme-list-amber > li {
        border-top-width: 0.5px;
    }
}
